<div class="result-card">
  <h2>Statut du paiement</h2>

  <div *ngIf="loading">Vérification en cours...</div>

  <div *ngIf="error && !loading" class="error">{{ error }}</div>

  <div *ngIf="!loading && !error">
    <p><strong>Référence :</strong> {{ mappedOrderIdFromGateway }}</p>
    <p><strong>Statut :</strong> {{ status?.status || status }}</p>
    <p><strong>Montant :</strong> {{ status?.amount || '---' }}</p>

    <button
      *ngIf="status?.order_id && status?.status === 'COMPLETED'"
      (click)="downloadReceipt(status.order_id)">
      Télécharger la quittance PDF
    </button>

    <pre class="json-block">{{ status | json }}</pre>

    <button routerLink="/history" class="secondary-btn">
      Voir l’historique des paiements
    </button>
  </div>
</div>
